/* SilverWare Portfolio Variables
===================================================================================================================== */

$portfolio-project-slide-caption-font-size: 0.9rem;

$portfolio-project-slide-caption-background: rgba($gray-900, 0.75);
$portfolio-project-slide-caption-foreground: $white;
